.DS_Store
.ipynb_checkpoints
__pycache__

# Workload generator
workloads/*
!workloads/test
!workloads/train
!workloads/generator

# Platform generator
platforms/*
!platforms/generator

env
expe-out/checkpoints/*
